/* portofilio css */

.portfolio {
    /* display: flex; */
    flex-wrap: wrap;
  }
  
  .project {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;

  }
  /* portfolio action when cursor is over elements */
  .project:hover {
    opacity: 0.8;
    background: #2e5d4c;
    color: white;
  }
  
  .project.active {
    background-color: #3498db;
    color: #fff;
  }
  
  /* Additional styling for links */
  .project a {
    text-decoration: none;
    color: #333;
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .project a:hover {
    text-decoration: underline;
  }
  